# Build
bin/
obj/

# IDE
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
.vscode/
.idea/

# Logs e temporários
*.log
*.tmp
*.bak
*.swp

# Pacotes
packages/
*.nupkg

# Testes
TestResults/
*.coverage
